.pop-up__btn_action_deny {
  height: 40.7px;
  width: 40.7px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute; 
  top: -40px; 
  right: -35px;
  background-image: url(../../../../images/deny.svg);
  overflow: visible;
  background-size: auto;
  background-position: center;
}

@media screen and (max-width: 640px){
  .pop-up__btn_action_deny {
    background-size: contain;
    top: -35px;
    right: -32px; 
    width: 40px;
    height: 40px;
  }
}