@import url(./__content/page__content.css);

.page {
    margin: 0 auto;
    background-color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }