.pop-up__text {
  width: 100%;

  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 0 9.28px;
  padding-top: 29.74px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 640px){
  .pop-up__text {
    max-width: 100%;
    padding-top: 20px;
  }
}